<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragmentos/fragmento :: head"></head>

<body>
	<!-- Pre-loader start -->
	<div th:replace="fragmentos/fragmento :: preloader"></div>
	<!-- Pre-loader end -->

	<!-- INICIO DO CORPO DO PROGRAMA-->
	<div id="main-wrapper" data-navbarbg="skin6" data-theme="light" data-layout="vertical" data-sidebartype="full"
		data-boxed-layout="full">

		<header th:replace="fragmentos/fragmento :: CABECALHO"></header>

		<!-- ============================================================== -->
		<aside th:replace="fragmentos/fragmento :: ASSIDE"></aside>

		<div class="page-wrapper">
			<div th:replace="fragmentos/fragmento :: DASHBOARD">

			</div>

			<!-- ========================== AS INFORMAÇÕES DEVE SER COLOCADA AQUI==================================== -->
			<div class="container-fluid" th:fragment="INFORMACAOAQUI">
				<!-- Ravenue - page-view-bounce rate -->
				<!-- ============================================================== -->
				<a class="btn btn-primary btn-md col-12" th:href="@{/stl/produtos/cadastrar}">CADASTRAR
					PRODUTO</a>
				<br><br>
				<div class="row">
					<!-- column -->
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Produtos</h4>
							</div>
							<div class="table-responsive">
								<table class="table table-hover" id="minhaTabela">
									<thead>
										<tr>
											<th>Código</th>
											<th class="border-top-0">Nome</th>
											<th class="border-top-0">Marca</th>
											<th class="border-top-0">Preço</th>
											<th class="border-top-0">Qtd</th>
											<th class="border-top-0">Categoria</th>
											<th class="border-top-0">D Expiração</th>
											<th class="border-top-0">Ação</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="listas:${produtoList}">

											<td th:text="${listas.codigoBarra}"></td>
											<td th:text="${listas.nome}"></td>
											<td th:text="${listas.marca}"></td>
											<td th:text="${listas.preco}+' Kz'"></td>
											<td th:text="${listas.quantidadeStok}"></td>
											<td th:text="${listas.categoria}"></td>
											<td th:text="${#temporals.format(listas.dataExpiracao, 'dd-MM-yyyy')}"></td>

											<td>


												<div class="form-row">
													<form th:action="@{/stl/produtos/editar}" method="post">
														<input type="hidden" name="id" th:value="${listas.id}">
														<button type="submit" class="btn btn-outline-primary"
															style="border: none;">
															<i class="m-r-10 mdi mdi-pencil-circle mdi-24px"></i>
														</button>
													</form>

													<a class="btn btn-outline-danger" style="border: none;"
														th:attr="membroId=${listas.id}" onclick="exibirModal(this)">
														<i class="m-r-10 mdi mdi-delete mdi-24px"></i>
												</div>


												</a>
											</td>

										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>


			</div>

			<!-- ========================== FIM AS INFORMAÇÕES DEVE SER COLOCADA AQUI==================================== -->


			<div th:replace="fragmentos/fragmento :: RODAPE"></div>
		</div>

	</div>
	<!--FIM DO CORPO DO PROGAMA-->




	<div th:replace="fragmentos/fragmento :: LinkJs"></div>
	<script th:inline="javascript">

		function exibirModal(botao) {
			var membroId = botao.getAttribute('membroId')


			Swal.fire({
				title: "Tens Certeza?",
				text: "Voce quer eliminar!",
				icon: "warning",
				showCancelButton: true,
				cancelButtonText: 'Não',
				confirmButtonColor: "#3085d6",
				cancelButtonColor: "#d33",
				confirmButtonText: "Sim,Excluir",
				customClass: {container: 'custom-swal-container'},
			}).then((result) => {
				if (result.isConfirmed) {
					Swal.fire({
						title: "Eliminado!",
						showConfirmButton: false,
						text: "Eliminado com Sucesso!",
						customClass: {container: 'custom-swal-container'},
						icon: "success",

					})
					setTimeout(function () {
						window.location.href = '/stl/produtos/excluir/' + membroId
					}, 2000);

				} else {
					Swal.fire({
						icon: "warning",
						showConfirmButton: false,
						text: "Cancelado",
						customClass: {container: 'custom-swal-container'},
						timer: 1500
					});
				}
			});

		}

	</script>





</body>

</html>