<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragmentos/fragmento :: head"></head>

<body>
	<!-- Pre-loader start -->
	<div th:replace="fragmentos/fragmento :: preloader"></div>
	<!-- Pre-loader end -->

	<!-- INICIO DO CORPO DO PROGRAMA-->
	<div id="main-wrapper" data-navbarbg="skin6" data-theme="light" data-layout="vertical" data-sidebartype="full"
		data-boxed-layout="full">

		<header th:replace="fragmentos/fragmento :: CABECALHO"></header>

		<!-- ============================================================== -->
		<aside th:replace="fragmentos/fragmento :: ASSIDE"></aside>

		<div class="page-wrapper">
			<div th:replace="fragmentos/fragmento :: DASHBOARD">

			</div>

			<!-- ========================== AS INFORMAÇÕES DEVE SER COLOCADA AQUI==================================== -->
			<div class="container-fluid" th:fragment="INFORMACAOAQUI">
				<!-- Ravenue - page-view-bounce rate -->
				<!-- ============================================================== -->
				<a class="btn btn-primary btn-md col-12" th:href="@{/stl/clientes/cadastrar}">CADASTRAR
					CLIENTE</a>
				<br><br>
				<div class="row">
					<!-- column -->
					<div class="col-8">
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Realizar venda</h4>
								<div class="row">
									<div class="form-group col-6">
										<form id="formPesquisarProduto" th:action="@{/stl/cle/pesquisar}" method="post">
											<label for="clienteNome">Nome do Cliente</label>
											<input type="text" class="form-control" name="codigo" id="codigoInput"
												placeholder="">
										</form>
									</div>

									<div class="form-group col-6">
										<form th:action="@{/stl/adicionarCarrinho}" method="post">
											<label for="clienteNome">Produto</label>
											<input type="text" class="form-control" name="codigo" id="codigoInput"
												placeholder="Pesquise por código, nome e marca e pressione enter">
										</form>
									</div>
								</div>


								<div class="table-responsive">
									<table class="table table-hover">
										<thead>
											<tr>
												<th>Nº</th>
												<th>Nome</th>
												<th>Etoque</th>
												<th>Preço (kz)</th>
												<th>QTD</th>
												<th>Total (kz)</th>
												<th>Ação</th>

											</tr>
										</thead>
										<tbody id="produtosTableBody">
											<tr th:each="item, n : ${ListaItem}">
												<td th:text="${n.index+1}"></td>
												<td th:text="${item.produto.nome}"></td>
												<td th:text="${item.produto.quantidadeStok}"></td>
												<td th:text="${#numbers.formatDecimal(item.precoUnitario, 2, 2)}">
												</td>

												<td>
													<span th:text="${item.quantidade}"></span>
													<a class="btn btn-sm btn-success"
														th:href="@{/stl/alterarQuantidade/{id}/{acao}(id=${item.produto.id},acao=${1})}"
														role="button"><i class="fa fa-plus">+</i></a>&nbsp;&nbsp;

													<a class="btn btn-sm btn-danger" th:if="${item.quantidade > 1}"
														th:href="@{/stl/alterarQuantidade/{id}/{acao}(id=${item.produto.id},acao=${0})}"
														role="button"><i class="fa fa-minus">-</i></a>
												</td>
												<td th:text="${#numbers.formatDecimal(item.valortotal, 2, 2)} + ' Kz'">
												</td>

												<td>
													<a class="btn btn-outline-danger" style="border: none;"
														th:href="@{/stl/removerProduto/{id}(id=${item.produto.id})}">
														<i class="m-r-10 mdi mdi-delete mdi-24px"></i></a>

												</td>
											</tr>
										</tbody>
										
									</table>

									<div class="form-row">
										<div class="form-group col-md-3">
											<label for="example-email">Valor Pago (kz) <span
													class="text-danger">*</span></label>
											<input type="number" name="*{valorPago}" class="form-control" min="0"
												step="0.01" required>
										</div>

										<div class="form-group col-md-3">
											<label for="example-email">Desconto (%) <span
													class="text-danger">*</span></label>
											<input type="number" class="form-control" name="desconto" min="0" max="100"
												value="0">
										</div>


										<div class="form-group col-md-3">
											<label for="example-email">Forma de Pagamento <span
													class="text-danger">*</span></label>
											<select class="form-control">
												<option value="Cartão">Cartão</option>
												<option value="Dinheiro">Dinheiro </option>
											</select>
										</div>
										<div class="form-group col-md-3">
											<label>Imposto</label>
											<select class="form-control">
												<option value="Iva">0.07%</option>
												<option value="iva">0.140%</option>
											</select>
										</div>



									</div>

								</div>
							</div>

						</div>
					</div>


					<div class="col-lg-4">

						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Detalhes da Venda</h4>
								<div class="d-flex align-items-center flex-row m-t-30">

									<div class="m-l-10">
										<small>Detalhes da Venda</small>
									</div>
								</div>
								<table class="table no-border mini-table m-t-20">
									<tbody>
										<tr>
											<td class="text-muted">Subtotal</td>
											<td class="font-medium"><span
													th:text="${#numbers.formatDecimal(venda.valorTotal, 2, 2)} + ' Kz'"></span>
											</td>
										</tr>
										<tr>
											<td class="text-muted">Imposto</td>
											<td class="font-medium">83%</td>
										</tr>
										<tr>
											<td class="text-muted">Total com Desconto</td>
											<td class="font-medium">28.56 in</td>
										</tr>

										<tr>
											<td class="text-muted">Troco</td>

										</tr>
										<tr>
											<td class="text-muted">Total da Venda</td>
											<td class="font-medium"><span
													th:text="${#numbers.formatDecimal(venda.valorTotal, 2, 2)} + ' Kz'"></span>
											</td>
										</tr>
									</tbody>
								</table>
								<div class="form-group col-md-12">
									<div class="col-sm-12">
										<a class="btn btn-sm btn btn-success" th:href="@{/stl/finalizar}"
											role="button">FINALIZAR COMPRA<i class="fa fa-minus"></i></a>

									</div>
								</div>
							</div>



						</div>

					</div>


				</div>

				<!-- ========================== FIM AS INFORMAÇÕES DEVE SER COLOCADA AQUI==================================== -->


				<div th:replace="fragmentos/fragmento :: RODAPE"></div>
			</div>

		</div>
		<!--FIM DO CORPO DO PROGAMA-->




		<div th:replace="fragmentos/fragmento :: LinkJs"></div>




</body>

</html>