<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragmentos/fragmento :: head"></head>

<body>
	<!-- Pre-loader start -->
	<div th:replace="fragmentos/fragmento :: preloader"></div>
	<!-- Pre-loader end -->

	<!-- INICIO DO CORPO DO PROGRAMA-->
	<div id="main-wrapper" data-navbarbg="skin6" data-theme="light" data-layout="vertical" data-sidebartype="full"
		data-boxed-layout="full">

		<header th:replace="fragmentos/fragmento :: CABECALHO"></header>

		<!-- ============================================================== -->
		<aside th:replace="fragmentos/fragmento :: ASSIDE"></aside>

		<div class="page-wrapper">
			<div th:replace="fragmentos/fragmento :: DASHBOARD"></div>

			<!-- ========================== AS INFORMAÇÕES DEVE SER COLOCADA AQUI==================================== -->
			<div class="container-fluid" th:fragment="INFORMACAOAQUI">
				<!-- Ravenue - page-view-bounce rate -->
				<!-- ============================================================== -->
				<div class="row">
					<!-- column -->
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								
							</div>
							<div class="table-responsive">
								<img th:src="@{/assets/images/mercadoria11.jpg}" width="100%">
							</div>
						</div>
					</div>
				</div>


			</div>

			<!-- ========================== FIM AS INFORMAÇÕES DEVE SER COLOCADA AQUI==================================== -->


			<div th:replace="fragmentos/fragmento :: RODAPE"></div>
		</div>

	</div>
	<!--FIM DO CORPO DO PROGAMA-->




	<div th:replace="fragmentos/fragmento :: LinkJs"></div>



</body>

</html>