<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragmentos/fragmento :: head"></head>

<body>
	<!-- Pre-loader start -->
	<div th:replace="fragmentos/fragmento :: preloader"></div>
	<!-- Pre-loader end -->

	<!-- INICIO DO CORPO DO PROGRAMA-->
	<div id="main-wrapper" data-navbarbg="skin6" data-theme="light" data-layout="vertical" data-sidebartype="full"
		data-boxed-layout="full">

		<header th:replace="fragmentos/fragmento :: CABECALHO"></header>

		<!-- ============================================================== -->
		<aside th:replace="fragmentos/fragmento :: ASSIDE"></aside>

		<div class="page-wrapper">
			<div th:replace="fragmentos/fragmento :: DASHBOARD"></div>

			<!-- ========================== AS INFORMAÇÕES DEVE SER COLOCADA AQUI==================================== -->
			<div class="container-fluid" th:fragment="INFORMACAOAQUI">

				<a class="btn btn-primary btn-md col-12" th:href="@{/stl/funcionario/listar}">LISTA DE FUNCIONARIO</a>
				<br><br>
				<!-- ============================================================== -->
				<div class="row">
					<div class="col-12">
						<div class="card card-body">
							<h4 class="card-title">Funcionários</h4>
							<form class="form-horizontal m-t-30" th:action="@{/stl/funcionario/salvar}"
								th:object="${funcionario}" method="post" enctype="multipart/form-data">
								<input type="hidden" th:field="*{id}">

								<input type="hidden" th:field="*{caminhoImg}">


								<div class="form-row">
									<div class="form-group col-md-4">
										<label>Nome <span class="text-danger">*</span></label>
										<input type="text" class="form-control" th:field="*{nome}"
											placeholder="seu nome completo">
										<small class="form-text text-danger error-message"
											th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></small>
										<span id="mensagemErroNome" class="text-danger"></span>
									</div>

									<div class="form-group col-md-4">
										<label for="example-email">Email <span class="text-danger">*</span></label>
										<input type="email" class="form-control" th:field="*{email}"
											placeholder="exemplp@gmail.com">
										<small class="form-text text-danger error-message"
											th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
										<span id="mensagemErroEmail" class="text-danger"></span>
									</div>

									<div class="form-group col-md-4">
										<label for="example-email">Telefone <span class="text-danger">*</span></label>
										<input type="number" class="form-control" th:field="*{telefone}"
											placeholder="+244 ">
										<small class="form-text text-danger error-message"
											th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}"></small>
										<span id="mensagemErroTelefone" class="text-danger"></span>
									</div>


									<div class="form-group col-md-4">
										<label for="example-email">Login <span class="text-danger">*</span></label>
										<input type="text" class="form-control" th:field="*{login}"
											placeholder="Seu nome de Úsuarios ">
										<small class="form-text text-danger error-message"
											th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></small>
										<span id="mensagemErroNome" class="text-danger"></span>
									</div>
									<div class="form-group col-md-4">
										<label>Password</label>
										<input type="password" class="form-control" th:field="*{senha}"
											placeholder="sua senha">
										<small class="form-text text-danger error-message"
											th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}"></small>

									</div>



									<div class="form-group col-md-4">
										<label>Papel <span class="text-danger">*</span></label>
										<select class="custom-select col-12" th:field="*{role}">
											<option value="">Selecina o papel</option>
											<option value="Gerente">Gerente</option>
											<option value="Sub-Gerente">Sub-Gerente</option>
											<option value="Funcionario">Funcionario</option>
										</select>
									</div>
									<div class="form-group col-md-4">
										<label>Imagem<span class="text-danger">*</span></label>
										<input type="file" name="file" accept=".jpeg,.jpg, .png" class="form-control">
									</div>

								</div>

								<div class="form-group ">
									<div class="col-md-2">
										<button class="btn btn-primary btn-md col-12">Salvar</button>
									</div>
								</div>

							</form>
						</div>
					</div>
				</div>

			</div>

			<!-- ========================== FIM AS INFORMAÇÕES DEVE SER COLOCADA AQUI==================================== -->


			<div th:replace="fragmentos/fragmento :: RODAPE"></div>
		</div>

	</div>
	<!--FIM DO CORPO DO PROGAMA-->




	<div th:replace="fragmentos/fragmento :: LinkJs"></div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>
	<script th:src="@{/validacoesfront/funcionario.js}"></script>




</body>

</html>